<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DeskNotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DeskNotes.Properties.Settings>
            <setting name="width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bg_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="txt_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="auto_execution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="last_opened_file" serializeAs="String">
                <value/>
            </setting>
            <setting name="command_symbol" serializeAs="String">
                <value>$</value>
            </setting>
            <setting name="top_most" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="processes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>iexplorer?C:\Program Files\internet explorer\iexplore.exe</string>
                        <string>explorer?C:\Windows\explorer.exe</string>
                        <string>calc?C:\Windows\System32\calc.exe</string>
                        <string>notepad?C:\Windows\Notepad.exe</string>
                        <string>cmd?C:\windows\system32\cmd.exe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="documents" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="plusPossition" serializeAs="String">
                <value>-1</value>
            </setting>
        </DeskNotes.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
